---
layout: default
---

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(26, 71, 62);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>

<div class="container">
    <div class="row">
<!--         <div class="col-md-3">
          {% include docs_nav.html %}
        </div> -->
            <!-- <h1>&nbsp;OGB-LSC @ KDD Cup</h1> -->
            <p align = "center">
                <img width="90%" src="{{ "/assets/img/kddlsc_logo.png" | relative_url }}" class="img-responsive">
            </p>
        <div class="col-md-12">
            <h1 style="font-size:28px">
                <strong>Sign up <a href="https://groups.google.com/g/open-graph-benchmark">our Google group</a> to keep up to date on major changes.</strong> <br/>
                <strong style="color:#b90707">Page under construction. Details subject to change until March 15.</strong>
            </h1>
            <div class="topnav">
                <a href="/docs/kddcup2021/overview">Overview</a>
                <a class="active" href="/docs/kddcup2021/timeline">Timeline</a>
                <a href="/docs/kddcup2021/rules">Rules</a>
                <a href="/docs/kddcup2021/mag240m">MAG240M</a>
                <a href="/docs/kddcup2021/wikikg90m">WikiKG90M</a>
                <a href="/docs/kddcup2021/pcqm4m">PCQM4M</a>
                <a href="/docs/kddcup2021/participate">Paticipate</a>
                <a href="/docs/kddcup2021/paper">Paper (coming soon)</a>
                <a href="/docs/kddcup2021/update">Updates</a>
              </div>
              <!-- <h2>{{ page.title }}</h2> -->
            <div id="markdown-content-container">{{ content }}</div>
        </div>

    </div>
</div>
<br/>
<br/>
